<div class="row">
  <div class="span9 offset1">
    <h1>Lista de compras</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Marca</th>
          <th>Descripcion</th>
          <th>Proveedor</th>
          <th>Cantidad</th>
          <th>Precio</th>
          <th>Total</th>
          <th>Fecha</th>
          
        </tr>
      </thead>
      <tbody>
        <%= render @buys %>
      </tbody>
    </table>

  </div>
</div>