

<div class="row">
  <div class="span6 offset3">
    <h1>Lista de Productos</h1>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Descripcion</th>
          <th>Total</th>
          <th>Precio</th>
          
        </tr>
      </thead>
      <tbody>
        <%= render @products %>
      </tbody>
    </table>

  </div>
</div>